<!DOCTYPE html>
<html lang="en">
<head>
    <% include header %>

<script src="../public/angular/custom.js"></script>
<script src="../public/angular/signup-form.component.js"></script>
</head>
<body>
<div ng-app="datingApp">
  <signup-form></signup-form>
</div>
</body>


