<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">NerfHerder</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Browse</a></li>
            <li><a href="#">My Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
            <li>
                <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" ui-sref="signup">Sign up!</a></div>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#">Popular Tags:</a></li>
            <li ng-repeat="tag in tags">
                <a href="#"> {{ tag }} </a href="#">
       </li>
  </div>
  </nav>
