ul#tags li {
    display: inline;
    margin-right: .5em;
}

.navbar {
    margin-bottom: 0px;
}

.btn {
    background-color: #ff6600
}

.btn-primary {
    background: #4fc5d0;
    border-color: #4fc5d0;
    color: white;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #2b97a1;
}

.btn-primary:active,
.btn-primary.active {
    background: #2b97a1;
    box-shadow: 1px;
}

.thumbnail {
    height: 200px;
    width: 200px;
}

.meet-div {
	background-color: #104da1;
	color: #e4edfd;
	width: 30em;
	border-radius: .3em;
}

.col-md-4 {
	background-color: black;
}


body {
    font-family: "Helvetica Neue", "Helvetica", "Sans Serif"
}


/* Modal stuff */

* {
    box-sizing: border-box;
}

.Modal-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 1;
    opacity: 0.5;
}

.Modal-holder {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: transparent;
    z-index: 2;
    padding: 30px 15px;
}

.Modal-box {
    margin: 0 auto;
    width: 100%;
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

@media screen and (min-width: 992px) {
    .Modal-box {
        width: 50%;
        padding: 30px;
    }
}
